<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Domain</key>
	<string>dev-ut0o6d8w3p88yj57.us.auth0.com</string>
	<key>ClientId</key>
	<string>EtHf0UdEIJbwmk6kdicIfNq4lGkpZko0</string>
</dict>
</plist>
